{% extends 'base.html.twig' %}
{% block title %}Annonces{% endblock %}
{% block body %}

    <h1 class="page-header text-center">Annonces</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                {{ form_start(form) }}
                <div class="text-center">
                    <div class="panel panel-default">
                        <div class="panel-heading">Filtre</div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li class="form-group">{{ form_widget(form.recherche, {'attr' : {'class': 'form-control'}}) }}</li>

                                <li class="form-group">{{ form_widget(form.selecteur, {'attr' : {'class': 'form-control'}}) }}</li>

                                <li class="form-group">{{ form_widget(form.rechercher, {'attr' : {'class': 'form-control btn btn-success'}}) }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

    <div class="index-content">
        {% for annonce in annonces %}
            <div class="col-xs-4">
                <div class="card text-center marginBot">
                    <img src="{{ vich_uploader_asset(annonce, 'photoFile') }}" width="100px" height="200px" alt="Photo de l'annonce">
                    <h4>
                        <a href="{{ path('annonce_details', {'id': annonce.id}) }}">{{ annonce.titre }}</a>
                    </h4>
                    <div class="row ">

                        <p class="col-xs-4 text-center">
                            <span class="blue-button">{{ annonce.nbPiece }} pièces</span></p>
                        <p class="col-xs-4 text-center">
                            <span class="blue-button">{{ annonce.prix }} €</span></p>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}