{% extends 'base.html.twig' %} {% block title %}Annonces{% endblock %} {% block body %}

<h1>Annonces</h1>


{{ form_start(form) }} {{ form_widget(form) }} {{ form_end(form) }}

<table>
    <tr>
        <td>Titre</td>
        <td>Pièces</td>
        <td>Prix</td>
    </tr>
    {% for annonce in annonces %}

    <tr>
        <td>
            <a href="{{ path('annonce_details', {'id': annonce.id}) }}">{{ annonce.titre }}</a>
        </td>
        <td>{{ annonce.nbPiece }}</td>
        <td>{{ annonce.prix }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}