{% extends 'base.html.twig' %}
{% block title %}Annonces{% endblock %}
{% block body %}

    <h1 class="page-header text-center">Annonces</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                {{ form_start(form) }}
                <div class="text-center">
                    <div class="panel panel-default">
                        <div class="panel-heading">Filtre</div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li class="form-group">{{ form_widget(form.recherche, {'attr' : {'class': 'form-control'}}) }}</li>

                                <li class="form-group">{{ form_widget(form.selecteur, {'attr' : {'class': 'form-control'}}) }}</li>

                                <li class="form-group">{{ form_widget(form.rechercher, {'attr' : {'class': 'form-control btn btn-success'}}) }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    
    {% for annonce in annonces %}
        <ul class="list-unstyled list-inline">
            <li class="form-group">
                <a href="{{ path('annonce_details', {'id': annonce.id}) }}">{{ annonce.titre }}</a>
            </li>
            <li>{{ annonce.nbPiece }} Pièces</li>
            <li>{{ annonce.prix }} €</ti>
        </tr>
</ul>
{% endfor %}
</table>

{% endblock %}